<div class="admin">
  <div class="page">
    <p-card header="Dashboard" subheading="Latest updates">
      <div class="grid">
        <div class="col-3">
          <p-card styleClass="#ffe53b" >
            <div class="d-item">
              <div>
                <i class="pi pi-shopping-cart"></i><br>
                <span class="name">Orders</span>
              </div>
              <span class="number">50</span>
            </div>
          </p-card>
        </div>
        <div class="col-3">
          <p-card styleClass="#ffe53b" >
            <div class="d-item">
              <div>
                <i class="pi pi-briefcase"></i><br>
                <span class="name">Products</span>
              </div>
              <span class="number">50</span>
            </div>
          </p-card>
        </div>
        <div class="col-3">
          <p-card styleClass="#ffe53b" >
            <div class="d-item">
              <div>
                <i class="pi pi-user"></i><br>
                <span class="name">Users</span>
              </div>
              <span class="number">50</span>
            </div>
          </p-card>
        </div>
        <div class="col-3">
          <p-card styleClass="#ffe53b" >
            <div class="d-item">
              <div>
                <i class="pi pi-dollar"></i><br>
                <span class="name">Total Sales</span>
              </div>
              <span class="number">{{ '400' | currency }}</span>
            </div>
          </p-card>
        </div>
      </div>
    </p-card>
  </div>
</div>