<header>
  <div class="grid align-content-center centralize-item">
    <div class="col-3">
      <div class="logo">
        <img src="assets/images/logo.png" alt="Logo">
      </div>
    </div>
    <div class="col-4 search">
      <product-search></product-search>
    </div>
    <div class="col-3 p-offset-1 navigations">
      <ngshop-nav></ngshop-nav>
    </div>
    <div class="col-1 tools">
      <i class="pi pi-user text-secondary" style="font-size: 1.5rem; cursor: pointer;"></i>
      <orders-cart-icon></orders-cart-icon>
    </div>
  </div>
</header>
